System requirements:
-Operating system: Windows XP, 7, 8 or 10
-Editor: CodeBlocks version 20.3
-Programming language: C
-Compiler: MinGW compiler
-Memory: 256 MB

Functions Required:
-Float dividendYieldRatio() is required to calculate the dividend yield ratio in percentage.
-Float EPS() is required to calculate the Earnings Per Share.
-Float debtEquity() is required to calculate debt-to-equity ratio.
-Float priceEarnings() is required to calculate price-to-earnings ratio.
-Float profitOrLoss() is required to calculate the profit or loss incurred.


Functional requirements:
-Requires inputs to be taken from balance sheet provided by the company.
-It should perform mainly five tasks giving output as 
   -Dividend Yield Ratio, 
   -Earnings Per Share, 
   -Debt-to-Equity Ratio, 
   -Price-to-Equity Ratio, 
   -Profit or Loss.

Non functional requirements:
-scalability
-efficiency
-extensibility
-Flexiblility
-Modifiability
-Response time
-Readability
-Resource constraints
-Usability
